@{
    ViewData["Title"] = "Home";
}

<div class="clearfix lato-black">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" >
                <div class="row">
                    <div class="col-lg-12 header-text">
                        <div style="margin-bottom:20px;height:60px" class="thim-widget-heading">
                            <h2 style="font-size:34px;  font-weight:bold">About DigiSkills.pk</h2>
                            <div style="text-transform:none; position: relative; opacity: .05; left: 10px; line-height:80px;width:100%; bottom:71px; color: #333 !important; font-size:50px">About DigiSkills.pk</div>
                            </div>
                        <p style="text-align: justify; font-weight: 600;  font-size: 18px; padding-bottom: 25px">
                            DigiSkills.pk is the largest Training Program in Pakistan offering best
                            <span style="color: #FF980A;">Free Online Courses</span>  
                            in freelancing Skills with E-Certificates issued by VU and Ignite.
                            <span style="color: #FF980A"> Over 4.0 Million + trainings </span> have been imparted 
                            <span style="color: #FF980A"> since 2018 </span> to generate skilled workforce in Future of Work and to strengthen digital economy of Pakistan.
                        </p>
                        <p style="text-align: justify;  font-weight: 600;  font-size: 18px; padding-bottom: 25px">The
                            <span style="color: #FF980A">Women Empowerment </span>is a key element of this program, as they benefit to learn and earn sitting in the comfort of their homes.
                        </p>
                    </div>
                    <div class="col-lg-12" >
                        <div class="" style="border-radius:20px; background:#FF980A; width:140px; text-align:center; padding:10px; color:white">
                           <a  >View More <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</div>
