@{
    ViewData["Title"] = "Home";
}

<div class="clearfix lato-black">
    <div class="container">
        <div class="row">
            <div class="row d-flex align-items-center">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-lg-12 header-text">
                            <div class="thim-widget-heading" style="margin-bottom:20px; height:60px;">
                                <h2 style="font-size:34px; font-weight:bold">About DigiSkills.pk</h2>
                                <div style="text-transform:none; position:relative; opacity:0.05; left:10px; line-height:80px; width:100%; bottom:71px; color:#333 !important; font-size:50px">
                                    About DigiSkills.pk
                                </div>
                            </div>
                            <p style="text-align:justify; font-weight:600; font-size:18px; padding-bottom:25px;">
                                DigiSkills.pk is the largest Training Program in Pakistan offering the best
                                <span style="color:#FF980A;">Free Online Courses</span>
                                in freelancing Skills with E-Certificates issued by VU and Ignite.
                                <span style="color:#FF980A;">Over 4.0 Million+ trainings</span> have been imparted
                                <span style="color:#FF980A;">since 2018</span> to generate a skilled workforce in the Future of Work and to strengthen the digital economy of Pakistan.
                            </p>
                            <p style="text-align:justify; font-weight:600; font-size:18px; padding-bottom:25px;">
                                <span style="color:#FF980A;">Women Empowerment</span> is a key element of this program, as they benefit from learning and earning while sitting in the comfort of their homes.
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <div style="border-radius:20px; background:#FF980A; width:140px; text-align:center; padding:10px; color:white;">
                                <a >View More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row" style="margin-bottom: 20px">
                        <div class="col-sm-6" style="margin-top:30px">
                            <div style="width: 85%; height: 100%;  background: #414141; display: flex; flex-direction: column ; align-items: center; justify-content: center; border-radius: 5px; float: right; padding: 17%">
                                <img src="~/images/whatdigiskills.png" alt="About DigiSkills.pk" class="img-fluid" />
                                <div style="text-align: center;  padding: 2px">
                                    <h3 style="color: white; font-size: 22px;"><span style="color: #FF980A; font-size: 24px; font-weight:600;">What</span> is DigiSkills.pk?</h3>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-sm-6">
                            <div style="width: 85%; background: #414141; display: flex; flex-direction: column;  align-items: center; justify-content: center; border-radius: 5px;  padding: 17%">
                                <img src="~/images/whydigiskills.png" alt="Why DigiSkills.pk" class="img-fluid" />
                                <div style="text-align: center;  padding: 2px">
                                    <h3 style="color: white; font-size: 22px;">
                                        <span style="color: #FF980A; font-size: 24px; font-weight:600;">Why</span> 
                                         DigiSkills.pk?</h3>
                                </div>
                            </div>
                                
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6" style="margin-top: 30px" >
                            <div style="width: 85%; height: 100%; background: #414141; display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 5px;  float: right; padding: 17%">
                                <img src="~/images/whodigiskills.png" alt="About DigiSkills.pk" class="img-fluid" />
                                <div style="text-align: center;  padding: 2px">
                                    <h3 style="color: white; font-size: 22px;">
                                        <span style="color: #FF980A; font-size: 24px; font-weight:600;">Who</span>
                                        Should Join?
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                           <div style="width: 85%;  background: #FF980A; display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 5px; padding: 23% ">
                                <img src="~/images/join.png" alt="Why DigiSkills.pk" class="img-fluid" />
                                <div style="text-align: center;  padding: 2px">
                                    <h3 style="color: #414141; font-size: 22px; font-weight: 600;">
                                        Join Now
                                    </h3>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
