@{
    ViewData["Title"] = "Home";
}

<div style="position:fixed; width:30px; height:max-content ">
    <div><a style="background-color: #f99312; color: #000; font-size: 14px;"><i class="fa-solid fa-phone"></i></a></div>
    <div><a style="background-color: #f99312; color: #000; font-size: 14px;"><i class="fa-regular fa-envelope"></i></a></div>
    <div><a style="background-color: #f99312; color: #000; font-size: 14px;"><i class="fa-solid fa-question"></i></a></div>

</div>
