<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Web Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentPortal.Web.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="~/images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="    padding-left: var(--bs-gutter-x, 3.75rem);">
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" style="width:80px; height:80px; margin-left: 20px;"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center lato-bold ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Add">Add Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="List">All Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" >Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">News & Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">How It Works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Contact Us</a>
                        </li>
                        <li class="nav-item" style="width:40px;">
                            <a class="nav-link" style="background: #FF980A; border-radius:50%; text-align:center; color:black" asp-area=""><i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #FF980A " asp-area="">Sign In</a>
                        </li>
                        <li class="nav-item" style="border-radius:20px; background:#FF980A ; width:105px">
                            <div class="main-blue-button">
                                <a class="nav-link" style="color:white; text-align:center" asp-area="">Sign Up <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div style="display: flex; flex-direction:column; width:100%">
            <div class="footerContainer" style="">
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" width="150px" height="150px"/>
                    </a>
                </div>
                <div> 
                    <h4 class="footerHeader">Usefull Links</h4>
                    <ul class="footerLists">
                        <li>Courses</li>
                        <li>Success Stories</li>
                        <li>Blog</li>
                        <li>Story of the Month</li>
                        <li>Contact Us</li>
                    </ul>
                    <ul class="footerLists">
                        <li>News and Events</li>
                        <li>FAQs</li>
                        <li>How it Works</li>
                        <li>Reflextions</li>
                        <li>Sitemap</li>
                    </ul>
                </div>
                <div>
                    <h4 class="footerHeader">Contact DigiSkills</h4>
                    <ul class="footerLists">
                        <li>Phone: <span><i class="fa-solid fa-phone"></i> 03244480480 </span> </li>
                        <li>Email: <span><i class="fa-regular fa-envelope"></i> ammar@gmail.com </span> </li>
                   </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h4 class="footerHeader">Follow Us</h4>
                    <ul class="footerLists">
                        <li>Phone: <span><i class="fa-solid fa-phone"></i> 03244480480 </span> </li>
                        <li>Email: <span><i class="fa-regular fa-envelope"></i> ammar@gmail.com </span> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12" style="height: 80px; color:#d9d9d9; text-align:center">
            <hr style="color:#d9d9d9;" />
                Copyright &copy; 2024 - <span style="color: #FF980A !important">StudentPortal.Web.</span>  All Rights Reserved.
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
