html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.footerHeader {
    color: #FF980A;
}

.footerLists {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

    .footerLists li {
        padding-top: 5px;
        color: #d9d9d9;
        margin-right: 10px;
        align-items: center
    }

.footerContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    margin-left: 90px
}

.four-w-s {
    display: inline-flex
}

.RightaboutSectionLeft {
    width: 85%;
    height: 100%;
    background: #414141;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    float: right;
    padding: 17%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor:pointer;
}
    .RightaboutSectionLeft:hover, .RightaboutSectionRightUpper:hover, .RightaboutSectionRight:hover {
        transform: scale(1.05);
    }

.RightaboutSectionRight {
    width: 85%;
    background: #FF980A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 23%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.RightaboutSectionRightUpper {
    height: 248px;
    width: 85%;
    background: #414141;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 17%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}